.wrapper {
  position: relative;
  margin-bottom: rem(30px);
  border: 1px dashed light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
  border-radius: var(--mantine-radius-md);
  cursor: pointer;
}

.dropzone {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: rem(8px);
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.dropzoneButton {
  margin-top: rem(10px);
}
